* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
}

/* Header */
header {
    background-color: #235347;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 32px;
}

header p {
    font-size: 16px;
    opacity: 0.9;
}

/* Main */
main {
    padding: 40px 20px;
}

/* Cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    background-color: white;
    width: 220px;
    height: 140px;
    text-decoration: none;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.card h2 {
    margin-bottom: 8px;
}

.card p {
    color: #235347;
    font-weight: bold;
}

/* Hover efeito */
.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

footer {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #235347;
    color: white;
    text-align: center;
    padding: 15px;
}